@model MVCUI.Models.TournamentMVCDetailsModel

@{
    ViewBag.Title = "Tournament Viewer";
}

<h2>Tournament: @Html.DisplayFor(model => model.TournamentName)</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h2>@Html.DisplayNameFor(model => model.Rounds)</h2>
            <ul class="list-unstyled tourney-display">
                @foreach (var item in Model.Rounds)
                {
                    <li>
                        @Html.ActionLink(item.RoundName, "Details", "Tournaments", new { roundId = item.RoundNumber }, new { style = "margin-right: 5px" })


                        @switch (item.Status)
                        {
                            case RoundStatus.Complete:<span class="label label-default"> completed </span>
                                break;
                            case RoundStatus.Active: <span class="label label-success"> active </span>
                                break;
                            case RoundStatus.Locked:<span class="label label-danger"> locked </span>
                                break;
                        }


                    </li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model.Matchups)
                {
                    <div class="col-md-6">
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label">@item.FirstTeamName</label>
                                <div class="">
                                    @Html.EditorFor(model => item.FirstTeamScore, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => item.FirstTeamScore, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@item.SecondTeamName</label>
                                <div class="">
                                    @Html.EditorFor(model => item.SecondTeamScore, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => item.SecondTeamScore, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Score Match" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                    </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
